<h1 style="text-align:center;">LINE 五星級評論</h1>
<div style="text-align:center;">
    <img style="width:100%;max-width:360px;border:1px solid black" src="https://i.imgur.com/WMzNkws.png"/>
</div>
<div class="row">
    <div class="col-sm-6">
        <h2>簡介：</h2>
        <p>「五星級評論」是一個結合LINE聊天機器人的網頁作品。使用Deno作為後台系統的執行環境，用Web api與LINE官方帳號溝通，實現聊天機器人的功能。網站的後端資料儲存於<a href="https://turso.tech/" target="_blank">Turso</a>雲端SQLite資料庫中，網站程式碼打包成Docker image並部署在<a href="https://www.koyeb.com/" target="_blank">Koyeb</a> 雲端伺服器上。</p>
        <h2>操作說明：</h2>
        <p>請先掃描上方QR code圖片，將「BBLJ官方帳號」加為好友，接著在BBLJ官方帳號對話視窗中說「五星評論」，即可取得「五星級評論」的連結。請於LINE對話視窗中點擊連結，並留下您對BBLJ官方帳號的星級評論以及評語。BBLJ官方帳號會依據您給的星級自動回覆訊息。</p>
    </div>
    <div class="col-sm-6">
        <h2>連結：</h2>
        <ul>
            <li><a href="https://bblj-review.koyeb.app/" target="_blank">五星級評論（koyeb）</a></li>
            <li><a href="https://github.com/BabyBoChen/BBLJ-Review" target="_blank">GitHub存放庫：BBLJ-Review</a></li>
        </ul>
    </div>
</div>