<h1 style="width:100%;text-align:center;">車車保養手冊</h1>
<div style="text-align:center;">
    <img style="max-height:500px;border:1px solid black" src="https://i.imgur.com/KiyK3EI.png"/>
</div>
<div class="row">
    <div class="col-sm-6">
        <h2>簡介：</h2>
        <p>使用Flask網頁框架搭配雲端NoSQL資料庫服務MongoDB Atlas所編寫而成的網頁應用程式，可用於記錄汽機車的保養歷程。</p>
        <p>「車車保養手冊」使用介面與相依性插入等手法達成表現層(presentation layer)與服務層(service layer)的隔離，減少物件之間的耦合性。可參考下方連結「類別圖」。</p>
    </div>
    <div class="col-sm-6">
        <h2>連結：</h2>
        <ul>
            <li><a href="https://bbljscooters.azurewebsites.net/" target="_blank">車車保養手冊（Azure）</a></li>
            <li><a href="https://github.com/BabyBoChen/BBLJScooter" target="_blank">GitHub存放庫：BBLJScooter</a></li>
            <li><a href="https://i.imgur.com/TSzUGKx.png" target="_blank">類別圖（Imgur）</a></li>
        </ul>
    </div>
</div>