<h1 style="text-align:center;">fiber BBLJ食記</h1>
<div style="text-align:center;">
    <img style="width:100%;max-width:360px;border:1px solid black" src="https://i.imgur.com/bAdQ7nU.png"/>
</div>
<div class="row">
    <div class="col-sm-6">
        <h2>簡介：</h2>
        <p>「BBLJ食記」記錄了BBLJ團隊平日外食的地點、餐點價格以及評價，供有興趣的朋友們參考。</p>
        <p>「BBLJ食記」是以Golang語言、基於fiber框架編寫而成的一個網站作品，經包裝成Docker映像後部署於微軟的Azure平台上。</p>
        <p>本站採用了Neon的Postgres資料庫以及Dropbox雲端硬碟作為後端的資料儲存解決方案，實作方法請參考本專案的dropboxservice.go以及作者自行開發的pgdbcontext套件( <a href="https://github.com/BabyBoChen/pgdbcontext" target="_blank">https://github.com/BabyBoChen/pgdbcontext</a> )。</p>
    </div>
    <div class="col-sm-6">
        <h2>連結：</h2>
        <ul>
            <li><a href="https://bbljfooddiary.azurewebsites.net/" target="_blank">BBLJ食記（Azure）</a></li>
            <li><a href="https://github.com/BabyBoChen/bbljfooddiary" target="_blank">GitHub存放庫：bbljfooddiary</a></li>
        </ul>
    </div>
</div>