<h1 style="text-align:center;">伯夷作品集</h1>
<div class="row">
    <div class="col-sm-12">
        <h2>簡介：</h2>
        <p>「伯夷作品集」是以AngularJS框架編寫而成的靜態網站，內容收集了站長伯夷的程式開發作品介紹以及source code的存放庫連結，請點擊左側選單中的作品名稱來查閱該作品。</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h2>連結：</h2>
        <ul>
            <li>GitHub存放庫：<a href="https://github.com/BabyBoChen/BabyBoChen.github.io" target="_blank">https://github.com/BabyBoChen/BabyBoChen.github.io</a></li>
        </ul>
    </div>
</div>
<div>
    <img style="width:100%;max-width:400px;" src="https://i.imgur.com/JMwPdGC.png"/>
</div>