<h1 style="width:100%;text-align:center;">待辦事項</h1>
<div style="text-align:center;">
    <img style="width:100%;max-width:500px;border:1px solid black" src="https://i.imgur.com/tVfywvX.png"/>
</div>
<div class="row">
    <div class="col-sm-6">
        <h2>簡介：</h2>
        <p>使用<a href="https://github.com/material-components/material-components-web" target="_blank"><b>Material Design</b></a>的web元件搭配Core Razor Page架構所撰寫的一個記錄待辦事項的網頁應用程式。該網站使用Entity Framework Core資料存取技術搭配SQLite資料庫來儲存待辦事項，並已上架至微軟的Azure雲端平台上。</p>
        <p>「開啟相簿」功能使用Dropbox Api與Dropbox結合，可以從「待辦事項」網站直接上傳照片至Dropbox雲端硬碟，並將照片嵌入於網站。</p>
        <p>將照片上傳至雲端硬碟（Dropbox或Google Drive）並嵌入於網站中可以減少使用網站伺服器的流量（outbound traffic），避免網站因達到流量上限而被暫停。</p>
    </div>
    <div class="col-sm-6">
        <h2>連結：</h2>
        <ul>
            <li><a href="https://bbljtodo.azurewebsites.net/" target="_blank">待辦事項（Azure）</a></li>
            <li><a href="https://github.com/BabyBoChen/RazorTodo" target="_blank">GitHub存放庫：RazorTodo</a></li>
        </ul>
    </div>
</div>