#monitor{
    animation: move 15s infinite linear;
}
@media only screen and (min-width: 768px) {
    #monitor{
        animation: move 17.5s infinite linear;
    }   
}
@media only screen and (min-width: 992px) {
    #monitor{
        animation: move 20s infinite linear;
    }   
}
@media only screen and (min-width: 1200px) {
    #monitor{
        animation: move 22.5s infinite linear;
    }   
}
@media only screen and (min-width: 1400px) {
    #monitor{
        animation: move 25s infinite linear;
    }   
}
@keyframes move {
    from {
        left:100%;
    }

    to {
        left:var(--monitor-width);
    }
}