<h1 style="text-align:center;">TOTP 一次性密碼驗證</h1>
<div style="text-align:center;">
    <img style="width:100%;max-width:500px;border:1px solid black" src="https://i.imgur.com/FialbM5.png"/>
</div>
<div class="row">
    <div class="col-sm-6">
        <h2>簡介：</h2>
        <p>本作品係基於Golang的Gorilla MUX網頁框架以及<a href="https://github.com/pquerna/otp" target="_blank">github.com/pquerna/otp/totp</a>套件來實作TOTP一次性密碼驗證機制的一個Web應用程式。</p>
        <p>本作品產生的TOTP金鑰可相容於Android手機應用程式<a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&pcampaignid=web_share" target="_blank">Google Authenticator</a>，且具有驗證用的API端點，可為其他應用程式提供一次性密碼驗證的服務。</p>
        <p>「BBLJ TOTP」已上架到ScaleDynamics雲端平台。</p>
    </div>
    <div class="col-sm-6">
        <h2>連結：</h2>
        <ul>
            <li><a href="https://bbljtotp.scaledynamics.site/" target="_blank">BBLJ TOTP（scaledynamics）</a></li>
            <li><a href="https://github.com/BabyBoChen/bbljtotp" target="_blank">GitHub存放庫：bbljtotp</a></li>
        </ul>
    </div>
</div>