<h1 style="text-align:center;">LIHIT LAB柴犬鉛筆盒</h1>
<div style="text-align:center;">
    <img style="width:100%;max-width:500px;border:1px solid black" src="https://i.imgur.com/z7OfANa.gif"/>
</div>
<div class="row">
    <div class="col-sm-6">
        <h2>作品簡介：</h2>
        <p><a href="https://www.eng.lihit-lab.com/" target="_blank">LIHIT LAB</a>是來自日本的文具用品品牌，旗下產品包含了數個以動物角色為造型的系列文具，例如本作品所臨摹的柴犬系列文具用品，以及其他動物角色如蘇格蘭摺耳貓系列、花貓系列等。</p>
        <p>本作品是以3D建模的手法仿製LIHIT LAB的其中一項產品——LIHIT柴犬鉛筆盒（glb檔大小：190KB、2256個vertice），由BBLJ前端工程師Jessy親自操刀建模，再由本站作者上色匯出。</p>
    </div>
    <div class="col-sm-6">
        <h2>模型展示操作說明：</h2>
        <ul>
            <li>在canvas上按下滑鼠左鍵不放即可移動視角。</li>
            <li>使用滑鼠滾輪可放大或縮小畫面。</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h2>連結：</h2>
        <ul>
            <li>模型展示(powered by THREE.js)：<a href="https://babybochen.github.io/blender/lihit/" target="_blank">https://babybochen.github.io/blender/lihit/</a></li>
        </ul>
    </div>
</div>