<h1 style="text-align:center;">Postgres 資料存取物件</h1>
<div style="text-align:center;">
    <img style="width:100%;max-width:500px;border:1px solid black" src="https://i.imgur.com/zYuKgSt.png"/>
</div>
<div class="row">
    <div class="col-sm-6">
        <h2>簡介：</h2>
        <p>以Golang語言實作類似於C# ado.net的類別庫。</p>
        <p>使用說請參考存放庫中的README.md</p>
    </div>
    <div class="col-sm-6">
        <h2>連結：</h2>
        <ul>
            <li><a href="https://github.com/BabyBoChen/pgdbcontext" target="_blank">GitHub存放庫：pgdbcontext</a></li>
        </ul>
    </div>
</div>